<!-- Puts the randomly displays prompt in a variable -->
<% question = @prompts.sample.description %>
<!-- displays prompt -->
<h3><%= question %></h3>

<%= simple_form_for(@writing) do |f| %>
  <div>
    <%= f.text_area :content, :cols => "30", :rows => "25" %>
  </div>
    <%= f.hidden_field :user_id %>
  <!-- places question in hidden field in writing table -->
    <%= f.hidden_field :question, :value => question %>
  <div>
    <a href ="/writings" class="button">New Prompt</a>
    <%= f.submit "Save to Account", class: 'button' %>
  </div>
<% end %>

