<h1>Dashboard</h1>

<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel2-1">Write</a></dd>
  <dd><a href="#panel2-2">Worksheets</a></dd>
  <dd><a href="#panel2-3">Settings</a></dd>
</dl>
<div class="tabs-content">


  <div class="content active" id="panel2-1">
    <% @user.writings.each do |writing| %>
    <h4><%= writing.question %> </h4>
    <p><%= writing.content %> </p>
    <% end %>
  </div>
  <div class="content" id="panel2-2">
    <dl class="accordion" data-accordion>
      <dd>
        <a href="#panel1">Accordion 1</a>
        <div id="panel1" class="content active">
          Panel 1 Content
        </div>
      </dd>
      <dd>
        <a href="#panel2">Thought Records</a>
        <div id="panel2" class="content">
            <% @user.worksheets.each do |worksheet| %>
            <% if worksheet.name == "thought_record" %>
            <ul class="no-bullet">
            <li><h5>Date</h5></li>
            <li><%= worksheet.date %></li>
            <li><h5>Where were you? What were you doing?</h5></li>
            <li><%= worksheet.text_answer1 %></li>
            <li><h5>Emotion or Feeling</h5></li>
            <li><%= worksheet.text_answer2 %></li>
            <li><h5>Negative automatic thought</h5></li>
            <li><%= worksheet.text_answer3 %></li>
            <li><h5>Evidence that supports the thought</h5></li>
            <li><%= worksheet.text_answer4 %></li>
            <li><h5>Evidence that does not support the thought</h5></li>
            <li><%= worksheet.text_answer5 %></li>
            <li><h5>Alternative thought</h5></li>
            <li><%= worksheet.text_answer6 %></li>
            <li><h5>New emotion or feeling</h5></li>
            <li><%= worksheet.text_answer7 %></li>
            ----------------------------------------------------------------
          </ul>
            <% end %>
            <% end %>
        </div>
      </dd>
      <dd>
        <a href="#panel3">Problem Solving</a>
        <div id="panel3" class="content">
          <div id="panel2" class="content">
            <% @user.worksheets.each do |worksheet| %>
            <% if worksheet.name == "problem_solving" %>
            <ul class="no-bullet">
            <li><h5>Date</h5></li>
            <li><%= worksheet.date %></li>
            <li><h5>What is the problem or worry?</h5></li>
            <li><%= worksheet.text_answer1 %></li>
            <li><h5>Brainstorm potential solutions</h5></li>
            <li><%= worksheet.text_answer2 %></li>
            <li><h5>Advantages of this solution</h5></li>
            <li><%= worksheet.text_answer3 %></li>
            <li><h5>Disadvantages of this solution</h5></li>
            <li><%= worksheet.text_answer4 %></li>
            <li><h5>Pick the best solution (or the least-worst)</h5></li>
            <li><%= worksheet.text_answer5 %></li>
            <li><h5>What steps do you need to take to put this solution into action?</h5></li>
            <li><%= worksheet.text_answer6 %></li>
            ----------------------------------------------------------------
          </ul>
            <% end %>
            <% end %>
        </div>
      </dd>
    </dl>
  </div>
  <div class="content" id="panel2-3">
    <p>Edit your <a href="/users/edit">settings</a></p>
  </div>
</div>